.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #4056A1;
  height: 120px;

}

#logo {
  font-family: 'Bungee', sans-serif;
  color: #FFFF;
  position: relative;
  top: 48%;
  left: 6%;
}

#profileInfo {
  position: relative;
  width: 100%;
  top: 100px;
  height: 400px;
  background-color: rgb(246, 114, 114);
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  z-index: 10;

}

#avatar {
  text-align: center;
  position: relative;
  bottom: -23px;
}

#profileName {
  text-align: center;
  color: #ffff;
}